.Rproj.user
.Rhistory
.RData
.Ruserdata
*.RData
*.Rds
*.rds
*.rda
*.Rhistory
*.Rproj

# Build / render artifacts

*.pdf
*.docx
*.pptx
*_cache/
*_files/
.DS_Store

# Bioinformatics large data
*.fastq
*.fastq.gz
*.fq
*.fq.gz
*.sam
*.bam
*.bai
*.cram
*.vcf
*.vcf.gz
*.gtf
*.gff
*.gff3
*.bed
*.bedGraph
*.bw
*.bigWig
*.hic
*.matrix
*.loom
*.mtx
*.h5
*.h5ad
*.h5seurat

# Reference genomes
ref_genome/
*.fa
*.fasta
*.fa.gz
*.fasta.gz
*.fai
*.dict
*.2bit

# Archives and compressed files
*.zip
*.tar
*.tar.gz
*.tgz
*.gz
*.bz2
*.xz

# Other large folders
apptainer/
.cache/
.conda/